<header>
  <div>
    <h1 class="main-title">Pager Scheduler</h1>
    <nav class="navbar-menu">
      <ul>
        <li><a href="https://git.ng.bluemix.net/gewtonj/Pager-Scheduler/wikis/home" target="_blank"><span>How to use</span></a></li>
        <li><a href="https://git.ng.bluemix.net/gewtonj/Pager-Scheduler/" target="_blank"><span>View source</span></a></li>
      </ul>
    </nav>
  </div>
  <div>
      <nav class="navbar-menu">
        <ul>
          <li *ngIf="!googleAuthenticationService.isAuthenticated"><a class="special-link" href="javascript:;" (click)="login()" matTooltip="Log in with Google to authorize Pager Scheduler to create Google Calendar events"><span>Authorize</span></a></li>
        </ul>
      </nav>
    </div>
</header>