.schedule-form {
  padding:10px 0;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.form-input-item {
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  margin:10px 0;
}

.form-input-item > label {
  font-size:20px;
  font-weight:bold;
  margin-bottom:20px;
}
.form-input-item.buttons {
  margin-top:20px;
}

.form-input-item.buttons .mat-button,
.form-input-item.buttons .mat-raised-button, 
.form-input-item.buttons .mat-icon-button, 
.form-input-item.buttons .mat-stroked-button, 
.form-input-item.buttons .mat-flat-button, 
.form-input-item.buttons .mat-fab, 
.form-input-item.buttons .mat-mini-fab {
  font-size:18px;
  font-weight:normal;
}

.form-input-item.buttons button {
  margin-bottom:20px;
  width:50%;
  min-width:200px;
  padding-top:3px;
  padding-bottom:3px;
}

.radio-icon-group {
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
}
.radio-icon-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:40px
}
.radio-icon-container:last-child {
  margin-right:0;
}
.radio-icon-container .radio-icon {
  border-radius: 50%;
  border: 2px solid #f2d5c7;
  width: 54px;
  height: 54px;
  background-color: #faecd1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.radio-icon-container .radio-icon mat-icon {
  height: 35px;
  width:inherit;
}

.radio-icon-container label > input {
  visibility: hidden;
  position: absolute;
}

::ng-deep .radio-icon-container .radio-icon mat-icon svg g {
  fill: #f2d5c7;
}

.radio-icon-container .radio-icon:hover{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.radio-icon-container .radio-icon:hover,
.radio-icon-container .radio-icon-form-wrap > input:checked + .radio-icon {
  background-color:#f5be55;
  border-color:#df6e38;
}

::ng-deep .radio-icon-container .radio-icon:hover mat-icon svg g,
::ng-deep .radio-icon-container .radio-icon-form-wrap > input:checked + .radio-icon mat-icon svg g {
  fill: #df6e38;
}

.radio-icon-text {
  font-size:18px;
  margin-top:10px;
}

.help-icon {
  height:15px;
}

::ng-deep .help-icon svg {
  fill:#437AD2;
}

::ng-deep .help-icon:hover svg {
  fill:#375793;
}

/*Tooltip*/
::ng-deep .mat-tooltip {
  background-color:rgba(245, 190, 85, 0.90);
  font-size:14px;
}

/* STYLE FOR SPINNER ON BUTTON
BASED ON  https://github.com/johannesjo/angular2-promise-buttons
*/

@-webkit-keyframes three-quarters {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-moz-keyframes three-quarters {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-o-keyframes three-quarters {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes three-quarters {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

::ng-deep button .btn-spinner {
  font-family: sans-serif;
  font-weight: 100;
  -webkit-animation: three-quarters 1250ms infinite linear;
  -moz-animation: three-quarters 1250ms infinite linear;
  -ms-animation: three-quarters 1250ms infinite linear;
  -o-animation: three-quarters 1250ms infinite linear;
  animation: three-quarters 1250ms infinite linear;
  border: 3px solid #ca3f17;
  border-right-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: -10% /*middle*/;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
}

::ng-deep button .btn-spinner:not(:required) {
  margin-left: -22px;
  opacity: 0;
  transition: 0.4s margin ease-out,
  0.2s opacity ease-out;
}

::ng-deep button.is-loading .btn-spinner {
  transition: 0.2s margin ease-in,
  0.4s opacity ease-in;
  margin-left: 5px;
  opacity: 1;
}

@media all and (min-width: 450px) {
  .schedule-form {
    border:1px solid #E7E4E9;
    background-color:#F4F4F4;
    width:500px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
  }

  .form-input-item > label {
    font-size:18px;
  }

  .schedule-form {
    padding:20px;
  }

  .radio-icon-text {
    font-size:16px;
  }

  .form-input-item.buttons {
    flex-direction: row;
    justify-content: space-evenly;
    align-self: stretch;
  }

  .form-input-item.buttons button {
    margin:0;
    width:150px;
  }

  .schedule-model-help-button {
    display:none;
  }
}