/* 
 * Pager Scheduler angular theme
 * References: 
 *  - https://material.angular.io/guide/theming
 *  - https://alligator.io/angular/angular-material-custom-theme/
 *  - https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
 *  - http://mcg.mbitson.com/
 * @author gewton
 **/
@import '~@angular/material/theming';
@include mat-core();

$ps-yellow-pallete: (
  50 : #fef7eb,
  100 : #fceccc,
  200 : #fadfaa,
  300 : #f8d288,
  400 : #f7c86f,
  500 : #f5be55,
  600 : #f4b84e,
  700 : #f2af44,
  800 : #f0a73b,
  900 : #ee992a,
  A100 : #ffffff,
  A200 : #fffcf9,
  A400 : #ffe5c6,
  A700 : #ffdaad,
  contrast: (
    50 : #544850,
    100 : #544850,
    200 : #544850,
    300 : #544850,
    400 : #544850,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #544850,
    A200 : #544850,
    A400 : #544850,
    A700 : #544850,
  )
);

$ps-accent-pallete: (
  50 : #fbeee7,
  100 : #f5d4c3,
  200 : #efb79c,
  300 : #e99a74,
  400 : #e48456,
  500 : #df6e38,
  600 : #db6632,
  700 : #d75b2b,
  800 : #d25124,
  900 : #ca3f17,
  A100 : #fffdfc,
  A200 : #ffd4c9,
  A400 : #ffaa96,
  A700 : #ff967d,
  contrast: (
    50 : #544850,
    100 : #544850,
    200 : #544850,
    300 : #544850,
    400 : #544850,
    500 : #fff,
    600 : #544850,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$pager-scheduler-primary: mat-palette($ps-yellow-pallete, 500);
$pager-scheduler-accent:  mat-palette($ps-accent-pallete, 500);
$pager-scheduler-warn:    mat-palette($mat-deep-orange);

$pager-scheduler-theme: mat-light-theme($pager-scheduler-primary, $pager-scheduler-accent, $pager-scheduler-warn);

$custom-typography: mat-typography-config($font-family: 'Optima, Helvetica, Arial, sans-serif');

@include mat-core($custom-typography);

@include angular-material-theme($pager-scheduler-theme);
