<h2 mat-dialog-title>Preview</h2>

<mat-dialog-content>
  <section class="preview-schedule" *ngIf="schedule">
    <p>{{schedule.length | i18nPlural: eventPluralMapping}} will be created</p>
    <table>
      <thead>
        <tr>
          <td>Start</td>
          <td>End</td>
          <td>Duration</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of schedule">
          <td><div class="content"><mat-icon svgIcon="event-start"></mat-icon> {{format(event.start)}}</div></td>
          <td><div class="content"><mat-icon svgIcon="event-finish"></mat-icon>{{format(event.end)}}</div></td>
          <td><div class="content"><mat-icon svgIcon="event-duration"></mat-icon>{{event.duration}} hours</div></td>
        </tr>
      </tbody>
    </table>
  </section>
</mat-dialog-content>
<mat-dialog-actions class="submit-buttons">
  <button mat-raised-button color="primary" mat-dialog-close class="cancel">Cancel</button>
  <button mat-raised-button color="accent" (click)="createSchedule()" class="submit">Create Schedule</button>
</mat-dialog-actions>